@import url(../node_modules/bulma/css/bulma.css);
@import url(../node_modules/bulma/bulma.sass);

* {
    font-family: sans-serif;
}

footer {
    font-style: italic;
    color: gray;
}

#lofi {
    border-top: 2px solid #4b5ac2;
    border-bottom: 2px solid #4b5ac2;
    padding: .5em;
    background-color: #4b5ac2;
}

#write {
    border-top: 2px solid #ffd253;
    border-bottom: 2px solid #ffd253;
    padding: .5em;
    background-color: #ffd253;
}

/* fbf7cf deaaff */
#home {
    border-top: 2px solid #ffc4d6;
    border-bottom: 2px solid #ffc4d6;
    padding: .5em;
    background-color: #ffc4d6;
}

#music {
    border-top: 2px solid #9cdfd0;
    border-bottom: 2px solid #9cdfd0;
    padding: .5em;
    background-color: #9cdfd0;
}

#suggest {
    border-top: 2px solid #D25559;
    border-bottom: 2px solid #D25559;
    padding: .5em;
    background-color: #D25559;
}

#admin {
    border-top: 2px solid #886D6D;
    border-bottom: 2px solid #886D6D;
    padding: .5em;
    background-color: #886D6D;
}

nav a,
nav a:link,
nav a:visited {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: darkslateblue;
    text-decoration: line-through;
}

nav a:active {
    color: mediumpurple;
    text-decoration: line-through;
}

#current {
    color: gray;
    text-decoration: line-through;
}

.result {
    display: inline-block;
    border: 1px solid purple;
    padding: .5em;
}

section {
    border-bottom: 10px dotted gray;
}

footer img {
    width: 120px;
    height: 90px;
    padding-top: 1em;
}